@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca&display=swap');

:root {
    --main-bg-color: #090b1a;
    --card-bg-color: #1b1938;
    --accent-color: #aa5cdb;
    --image-color: #703097;


    --main-heading-color: #ffffff;
    --main-paragraph-color: #ffffffbf;
    --stat-headings: #ffffff99;

    --body-font-size: 1.5rem;

}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--main-bg-color);
    font-size: var(--body-font-size);

    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    background-color: var(--card-bg-color);
    display: flex;
    min-width: 900px;
    max-width: 1020px;
    min-height: 70%;
    border-radius: 10px;
}

.main-content {
    max-width: 60%;
    padding: 5.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.main-content-title {
    color: var(--main-heading-color);
    letter-spacing: 1.3px;
    margin-bottom: 2.4rem;
}

.main-content-paragraph {
    color: var(--main-paragraph-color);
    flex-grow: 1;
    line-height: 2em;
}

.main-content-marker {
    color: var(--accent-color);
}


.stats {
    display: flex;
    color: var(--stat-headings);
    list-style-type: none;
    justify-content: space-between;
    text-transform: uppercase;
}

.stats-content {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.stats-marker {
    display: block;
    color: var(--main-heading-color);
    font-family: "Lexend Deca" Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 0px;
}

.image {
    border-radius: 0 10px 10px 0;
    filter: brightness(0.5) sepia(1) hue-rotate(240deg) saturate(2);
    ;
}


.attribution {
    margin-top: 3rem;
    font-size: 1.1rem;
    text-align: center;
    color: var(--main-heading-color);
    background-color: var(--card-bg-color);
    padding: 1.2rem;
    border-radius: 10px;
}

.attribution a {
    color: hsl(228, 70%, 71%);
}